html {
  font-family: 'IBM Plex Mono', monospace;
}

canvas {
  position: fixed;
  top: 0;
  left: 0
}

main {
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #FFFFFF;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 6vw;
  margin: 0;
}

#header {
  padding-top: 40vh;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: 'IBM Plex Mono', monospace;
}

h2 {
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 5vw;
}

p {
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 2vw;
}

#begin {
  display: flex;
  position: absolute;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 1001;
  justify-content: center;
  align-items: center;
  color: white;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 5vw;
  padding: 0;
  background-color: black;
  transition: all 2.5s;
}

.fade {
  opacity: 0;
  background-color: transparent;
  transition: all 1.5s;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

#loading.loaded {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow-box {
  position: absolute;
  bottom: 1.5vw;
}

.left-arrow {
  cursor: pointer;
  color: white;
  font-size: 1.5vw;
}

.left-arrow.disabled {
  display: contents !important;
  color: black;
}

.right-arrow {
  cursor: pointer;
  color: white;
  font-size: 1.5vw;
  margin-right: 4%;
}

.disabled {
  cursor: default;
  display: none;
}

#display-box {
  position: absolute;
  background-color: black;
  border: white 2px solid;
  transition: all 0.5s linear;
  z-index: 100;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6vw;
  padding: 10px;
  text-align: justify;
}

#display-box.left {
  left: 5vw;
  top: 10vh;
  height: 80vh;
  width: 35vw;
}

#display-box.right {
  left: 60vw;
  top: 10vh;
  height: 80vh;
  width: 35vw;
}

#display-box.center {
  height: 40vh;
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#display-box.shrink {
  height: 5vh;
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gui {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 10000;
}

#loadOverlay{display: none !important;}
